[2019-04-06 17:14] sghosh151 opened #23 "MetalKube should incorporate disk encrpytion support by deault"
LUKS provides a well understood disk encryption methodology for Linux system. Tang+Clevis provide a scalable methodology to support disk encryption unseal operations in an automated data center. MetalKube should incorporate support for disk encryption as part of initial design.

https://latchset.github.io/clevistang/

[2019-04-12 19:34] gangchen03 opened #25 "Should have a quick start guide to kick the tire"
looking for a getting-started guide to get a cluster provisioned using Metalkube. Can't find it anywhere. Wouldn't mind submit a PR for one once I figured out how to get the code to work.

[2019-05-09 20:12] russellb commented on #25
sorry I missed this issue.  I've been working on a dev env here:  https://github.com/metal3-io/metal3-dev-env

Is this the kind of thing you're looking for?

[2019-05-09 20:13] russellb opened #35 "Update example Machines in README.md"
We just merged a provider spec definition.  We should update the example Machine objects to reflect what is currently implemented.

https://github.com/metal3-io/cluster-api-provider-baremetal/pull/59

[2019-05-09 20:13] russellb commented on #35
@mhrivnak FYI

[2019-08-23 20:26] russellb commented on #35
This was done in ec5b60a258ae858a7471e54ee2143b6032eea5f0

[2019-08-23 20:26] #35 closed

[2019-08-26 13:44] russellb commented on #25
Let me know if you have any feedback on metal3-dev-env.  Thanks!

[2019-08-26 13:44] #25 closed

[2019-10-08 21:05] hansbogert opened #54 "try-it-out results in baremetalhosts with 'inspecting' indefinitely"
When I tried out the 'try-it-out' I was presented with the following:

The `make` command is waiting on:

[code]

Indeed through kubectl, this is also the case:

[code]

What could be the case?

[2019-10-08 21:18] dhellmann commented on #54
Did the host actually boot the inspection agent? Are there messages on the console?

[2019-10-08 21:39] hansbogert commented on #54
Nope, traced it, I guess, to the ironic pod on the host:

[code]

[2019-10-08 22:34] hansbogert commented on #54
Which process would actually hand out dhcp and/or the NBP in the try-it-out scenario?

[2019-10-09 03:05] russellb commented on #54
What commit from metal3-dev-env are you using?

We just merged https://github.com/metal3-io/metal3-dev-env/pull/68 2 days ago that moved Ironic into the cluster, running as part of the baremetal operator pod instead of via podman on the host.

[2019-10-10 20:02] hansbogert commented on #54
[code]

I can verify with wireshark that the master and worker VMs' PXE dhcp request is seen on the `provisioning` bridge on the host.

[2019-10-10 20:10] dhellmann commented on #54
I hit something like this. I think we associated it with https://bugzilla.redhat.com/show_bug.cgi?id=634736

I was able to fix it by using sysctl to set a few parameters described in that bug and in https://wiki.libvirt.org/page/Networking

[code]

[2019-10-10 20:14] hansbogert commented on #54
instant success with the above applied:

for easy copy & paste for others:

[code]

[2019-10-10 20:20] dhellmann commented on #54
I wonder if we should just have the scripts apply those changes? What do you think @russellb ?

[2019-10-10 21:24] russellb commented on #54
Sounds good to me. The arptables one probably isn’t needed, but otherwise I like the idea of just doing this automatically.

[2019-10-10 21:29] dhellmann commented on #54
Great, so how about it @hansbogert , are you up for creating a PR?

[2019-10-12 09:06] hansbogert commented on #54
Sure @dhellmann, should we put the `sysctl`s in `02_configure_host.sh`?

[2019-10-12 13:44] russellb commented on #54
Yes that file sounds good to me

Sent from mobile device

On Oct 12, 2019, at 5:06 AM, Hans van den Bogert <notifications@github.com>
wrote:

﻿

Sure @dhellmann <https://github.com/dhellmann>, should we put the sysctls
in 02_configure_host.sh?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/metal3-io/metal3-docs/issues/54?em

[2019-11-25 22:04] mhrivnak opened #83 "proposal: add auto-scaling for MachineSets"
In many clusters, it is desirable for the size of a MachineSet to always equal the number of matching BareMetalHosts. In such a scenario, the cluster owner wants all of their hardware to be provisioned and turned into Nodes, and they want to remove excess Machines in case they remove hosts from their cluster.

Rather than make some external process manage the size of MachineSets as BareMetalHosts

[2020-01-15 14:21] stbenjam commented on #54
No activity since October, if this still needs addressing please open a PR or issue against metal3-dev-env.

/close

[2020-01-15 14:21] #54 closed

[2020-01-16 08:00] sshukun opened #82 "Proposal: enable scaling up by grabbing baremetalhosts consumed by other clusters"
Hi, Metal3 team!

Currently we have encountered a bare metal specific use case.

One of our customers has a bare metal environment with multiple clusters deployed on it. Each cluster has different priority, for example one cluster for production with high priority and another with low priority for test. Considering that all the physical machines have been consumed, to ensure the performance of pro

[2020-01-29 22:38] Arvinderpal opened #71 "Define release guidelines for baremetal-operator and start publishing releases"
We should adopt a releasing approach similar to that of CAPI and follow the well-known semantic versioning guidelines (see references below).

Besides this being a good practice, integration with the redesigned clusterctl will require that projects follow the above mentioned releasing strategy. A similar issue was created for capbm: https://github.com/metal3-io/cluster-api-provider-baremetal/issue

[2020-04-01 13:52] stbenjam commented on #83
/kind feature

[2020-04-01 13:54] stbenjam commented on #82
/kind feature

[2020-04-01 13:54] stbenjam commented on #82
/priority backlog

[2020-04-03 21:53] #23 closed

[2020-05-12 14:44] dhellmann commented on #71
/remove-lifecycle stale
/lifecycle freeze

[2020-05-18 08:00] maelk opened #92 "Add ironic authentication"
Considering the self-managed cluster use-case, Ironic would run on the target cluster, in host networking mode. hence, all nodes would need physical access to the provisioning network, to be able to host ironic. However, by default, all traffic from the pods is NATed and routed, meaning that all pods could interact with ironic.

Currently there is no authentication in Ironic, making this setup ver

[2020-05-18 13:42] dhellmann commented on #92
/cc @juliakreger @dtantsur @elfosardo

[2020-05-18 13:42] dhellmann commented on #92
/cc @zaneb

[2020-05-18 13:55] juliakreger commented on #92
Ironic presently has https://review.opendev.org/#/c/727467 in code review which would add authentication support to it's API surface, which has the advantage of not adversely impacting the lookup and heartbeat endpoints. So in essence, we would need to do the same with ironic-inspector, and client libraries including gopher cloud.

I guess the big question in my mind, is this sufficient, or is mor

[2020-05-19 05:29] maelk commented on #92
If we are using simple authentication, then we will probably want to use https where possible, to avoid password to go in plain text in the requests.

[2020-05-19 16:45] juliakreger commented on #92
I completely agree, I guess the question is how will cert data be passed in so endpoints could be started and validated when using https.

I guess another question is how do we phase this in?

[2020-05-20 05:24] maelk commented on #92
I would propose to use cert-manager, that would allow the users deploying BMO to go with their own CA, or with self-signed certificates (we could make that default). The phasing will be tricky as multiple components need to be updated at once. Maybe we could leverage the v1alpha2 work to put that in at the same time ? If we need it faster, we will need another solution.
Maybe the deployment repo i

[2020-05-26 13:56] maelk commented on #92
Pete Birley suggested to run ironic behind Apache and use its features for authentication and TLS : https://docs.openstack.org/ironic/pike/install/include/configure-ironic-api-mod_wsgi.html

[2020-05-27 09:45] dtantsur commented on #92
We can use Apache or any other production WSGI container.

[2020-06-05 15:20] maelk commented on #92
Here is a WIP design proposal : https://docs.google.com/document/d/1QsoA7M5ndfw15iE4tMWmBMv-wPVo8faoo1uNgn676W4/edit#

[2020-06-19 16:44] sb1975 opened #105 "Document steps for doing the Kubernetes version upgrade and machine OS upgrade using metal3"
As a user I would like to upgrade the kubernetes version of my target cluster and able to upgrade the OS of my machines.

This is documented in the CAPI project here - https://cluster-api.sigs.k8s.io/tasks/kubeadm-control-plane.html?highlight=upgrade#upgrading-workload-clusters

This issue is to request documentation for handling the kubernetes version upgrade and OS upgrade using metal3.

[2020-06-29 08:35] digambar15 opened #107 "Proposal to Add support of Keystone authentication"
As we discussed in the last meeting, currently Metal3 is only relying on standalone Ironic. So all the Ironic calls are currently initiated directly. @maelk has proposed one Authentication which is SSL/TLS certificate based system, need to be configured outside BMO.
There are plenty use cases where Ironic will not run as standalone, rather Ironic will be running as part OpenStack Cloud or It will

[2020-06-30 11:12] maelk opened #111 "FR: Network configuration integration"
Currently, when deploying a node, the networking configuration (switches etc.) needs to be done beforehand and be ready for deployment. However, it would be great to be able to leverage some available solutions such as SDN to perform the network configuration just in time, right before provisioning the node. This could be done in two steps, the first one via hooks that would be called before provi

[2020-06-30 11:12] maelk opened #112 "FR: Add Infoblox IPAM support"
The current IP Address Manager could be extended to support using Infoblox as a backend. Or as an alternative, create a new CRD and controllers on the same model for infoblox IPAM : InfobloxIPPool to back the IPClaim and provide the IPAddress objects.

[2020-06-30 11:13] maelk opened #113 "FR Automated node remediation"
The Cluster API includes an optional Machine Healthcheck Controller component that implements automated health checking capability, however it doesn’t offer any other remediation than replacing the underlying infrastructures.

Environments consisting of hardware based clusters are significantly slower to (re)provision unhealthy machines, so they have a need for a remediation flow that includes at

[2020-06-30 11:14] maelk opened #114 "FR: target node boot via virtualmedia or network boot"
Instead of using (i)PXE, we could use the virtualmedia boot of some BMC drivers (such as Redfish) to lift some networking constraints to boot IPA. We could even extend that and investigate booting the target node via redfish virtualmedia to understand the constraints of such a solution. Another possibility would be to network boot the nodes and use the local drives for persistent storage.

[2020-06-30 11:15] maelk opened #115 "FR: In-place upgrade"
Considering the stacked storage use-case, during the upgrade of a CAPI cluster, I would like to make sure that the upgraded metal3machine lands on the same physical node, to be able to re-use the disk in a ceph cluster for example, without wiping them out

[2020-06-30 14:30] dhellmann commented on #83
/remove-lifecycle stale

[2020-07-01 06:22] maelk opened #117 "Purge offensive language from Metal3-io repositories"
Following a K8s-wide effort to remove terms such as "master", "slave", "whitelist" and "blacklist", we should take steps to remove this type of words from our repos. In K8S repos, the Github "master" branches will be renamed to "main".

We should follow the movement and remove at least those four words with the following proposed replacements:

- master -> controlplane
- slave -> worker
- whitelis

[2020-07-01 14:52] dhellmann commented on #117
It would be good to handle the branch renaming in all of our repos quickly to minimize disruption. I imagine a couple of us with admin privileges could go through and do that. Does the k8s community have a set of instructions worked out?

What other changes would we need to make? Does CI need to be reconfigured at the same time?

[2020-07-01 22:27] demonCoder95 commented on #117
It's a questionable move by Github and others in my opinion, changing terminology will not have the desired affect, at all. These are problems of perception and human behaviors, not words. It will only cause software breakage all over the place, adding to the already humongous mess of terminology that has already been in place since forever.

However, the proposed changes look reasonable. So, LGTM

[2020-07-02 06:46] maelk commented on #117
This is also a work in progress on the K8S side. They are starting a work group on this AFAIK. so no instructions yet. The prow config has quite some references to master, especially for container images. They'll need to be changed once all the new images are created. We will also need to change all container images references in all repos (in hack and deploy/config folders).
Jenkins will also nee

[2020-07-02 17:38] dhellmann commented on #117
We may also need to follow the instructions for setting the new default branch. https://docs.github.com/en/github/administering-a-repository/setting-the-default-branch

[2020-07-22 13:12] maelk commented on #82
/remove-lifecycle stale

[2020-07-22 13:27] Cloudsleuth opened #126 "Handling Special Case Compute Devices"
An administrator places into a BMH a PCIe card that has a fully programmable device where:

- The device can act as a switch or as an off-load network controller, and requires uploading of an OS image  to the PCIe-attached device on the host after which the device is externally programmable / configurable.

- The device is a GPU that requires upload of an OS image or a bootstrap image to the PCIe-

[2020-07-22 13:34] dhellmann commented on #126
When you say "requires uploading of an OS image" do you mean to the PCIe card itself or to the host as a whole?

[2020-07-22 13:57] Cloudsleuth commented on #126
Thanks for asking for clarification.  I edited the issue - hope that removed ambiguity.

[2020-07-22 14:17] dhellmann commented on #126
I'm not that familiar with these sorts of hardware devices. How does provisioning those images work in practice? I assume you run a tool on the OS on the host? Is it possible to put that tool into a container with special privileges? For example, I could see us provisioning nodes in the usual way, then having the hardware-classification-controller recognizing that a host has a specific add-on card

[2020-07-22 17:02] zaneb commented on #126
As far as programming devices connected via PCIe, I don't think that's Metal³'s problem and it can be left to something on the host.

It sounds like you're saying that the PCIe card acts a bit like a BMC once it's been programmed from the host, and that after this the device itself can be programmed over the network in a manner not totally dissimilar to how Metal³ programs servers? It's not clear

[2020-07-22 18:55] Cloudsleuth commented on #126
These are an entirely new class of device, which means that we will have to wait to see how this distills into production-ready devices.  It is possible that the device will be provisioned (OS installed together with its runtime software/firmware and configuration) via the BMC prior to BMH host itself being provisioned with its OS.  This means that the operational provisioning of the PCIe connecte

[2020-07-22 19:00] Cloudsleuth commented on #126
This proposed method would be very messy.  Here is what you are in effect proposing:
a) Boot the BMC host with a PXE image that can install the OS, runtime software and base-level configs to the PCIe smart device
b) Warm reboot the BMH and provision the BMH

=> Messy.

[2020-07-22 19:04] Cloudsleuth commented on #126
What is the PCIe hosted device is in fact a BMH itself?  What if it is accessible via the BMC of the hosting server?  Now consider the case where that BMH can only be brought up in a state "healthy" when the PCIe-hosted BMH is first brought up (provisioned) to its state "healthy."

[2020-07-22 20:26] dhellmann commented on #126
Sure, if provisioning has to happen out of band then we wouldn't want to use a pod on the host. That wasn't clear from the original problem statement. Is that definitely how provisioning works in all cases?

[2020-07-23 01:02] Cloudsleuth commented on #126
Apologies for lack of full contextual clarity to begin with.  I am looking at a number of devices that are sourced from various vendors.  Some are considered development-only devices and may morph.  But the concept of one of more BMHs being nested inside a BMH is a use-case we will see emerge into large distributed information systems.  I'd like to being the process of defining how such nested BMH

[2020-07-28 19:07] Arvinderpal opened #127 "Add support for Conditions in CAPM3"
CAPI has recently adopted the use of `Conditions` to provide better visibility into the current state of the workload cluster. We should add similar functionality to CAPM3.

References:
CAEP: https://github.com/kubernetes-sigs/cluster-api/pull/3017

Related:
[Docker Cluster Conditions](https://github.com/kubernetes-sigs/cluster-api/pull/3142)
[AWS Cluster Conditions](https://github.com/kubernetes-

[2020-07-28 19:51] dhellmann commented on #117
There is some additional guidance on https://github.com/github/renaming suggesting that if we wait a little bit, GitHub will provide better tools to make the transition go more smoothly.

[2020-07-30 12:00] digambar15 opened #129 "Node Failure detection mechanism"
**Problem Statement -**

Airship community has come up with one requirement on how user will get to know what is the cause of failure on the host.
So it's the use case related to failure detection mechanism where user can get to know what has failed so that User can go and fix the perticular issue on the node.
At broader side, there are many reasons host will fail either in introspection or in day

[2020-07-30 12:01] digambar15 commented on #129
/assing @dhellmann @russellb @maelk

[2020-07-31 18:28] dhellmann commented on #129
We looked at this for OpenShift, and came to the conclusion that the turn-around time for reporting hardware issues for running hosts through the baremetal operator would be slower than if we added features to tools like node_exporter. I'm not sure if all of the classes of issues listed above could be detected by data node_exporter collects today, so we may either need to add to node_exporter or a

[2020-07-31 18:29] dhellmann commented on #129
https://github.com/metal3-io/ironic-prometheus-exporter may also be a useful way to report some of the stats that Ironic can collect out of band via the BMC.

[2020-08-04 05:28] digambar15 commented on #129
I have gone through the node-exporter previously, most of the error node-exporter doesn't reproduce. I will certainly look into Ironic-prometheus-exporter in detail. Most probably we will have to implement this feature in one of these project. I will investigate more in both of these project and will discuss with you later for further implementation.

[2020-09-03 19:13] zaneb commented on #92
HTTP Basic auth support is now available in the ironic containers and BMO. We could close this issue as fixed and open a fresh one for mTLS auth (which I think is still our long-term preferred option), or just keep this open.

[2020-09-04 05:37] maelk commented on #92
I would like to keep this one open at least until we have implemented TLS (for a more secure basic auth). We are encountering issue with mTLS PHA not being supported in Go, so mTLS needs a re-design to avoid having multiple endpoints with and without client cert. but we could go with TLS for now at least.

[2020-09-10 12:31] russellb commented on #71
reopened, since this is still relevant

[2020-09-10 23:13] Arvinderpal opened #136 "Proposal: In-Place Executors"
For day-2 operations, users may want to make in-place changes to various host configurations. The configuration changes are in-place in the sense that they can be carried out without host reprovisioning or reboot.

This proposal seeks to extend the Metal3MachineTemplate with a new CRD for storing the in-place host configuration data. In particular, it seeks to (i) add the ability to lookup the set

[2020-09-11 05:32] maelk commented on #136
thank you for the proposal, it looks like a nice way to achieve the mutability you've been after. However, I wonder if that is something that would rather have its place at cluster API level, considering that this could apply independently of the provider, and you could pretty much replace the Metal3 words in this proposal by CAPI.

[2020-09-11 05:48] jebinjeb opened #137 "query: vm support"
will it support provisioning VM in esxi ? and deploy the k8s on top

[2020-09-11 12:11] russellb commented on #137
No, metal3-io is for provisioning bare metal hosts

[2020-09-11 12:11] #137 closed

[2020-09-15 20:07] zaneb commented on #92
Fair enough.
/remove-lifecycle stale

[2020-09-15 20:56] Arvinderpal commented on #136
You're right that the approach described in this proposal is not metal3 specific and can be adapted by any other infrastructure provider. It may be worth asking the Cluster API community if they can make in-place executor templates first-class citizens much like MachineDeployments, etc. However, given that Machine Templates are themselves infrastructure provider specific, making an exception for i

[2020-09-16 05:24] maelk commented on #136
If this goes to CAPI, then I think we could put it at the KCP or at the machine deployment level. It would then be agnostic of the provider used.

[2020-09-28 13:41] maelk commented on #111
/remove-lifecycle stale

[2020-09-29 12:22] dtantsur commented on #114
I think we already support virtual media for certain drivers. Is there anything else missing?

[2020-09-29 12:25] maelk commented on #114
This story was a bit  wider than only booting IPA, the idea was to see if we could skip the provisioning step, by directly booting the node image over virtualmedia. I don't see this happening any time soon, so we can probably close this issue for now.

[2020-09-29 13:47] dtantsur commented on #114
It's not impossible given the new boot-from-ISO facilities in ironic, but it really needs someone to sit down and come up with a design (and likely some improvements to ironic).

[2020-09-30 05:14] maelk commented on #113
/remove-lifecycle stale

[2020-10-14 13:36] fmuyassarov commented on #136
/kind feature

[2020-10-22 14:45] #105 closed

[2020-10-27 06:34] maelk commented on #117
/remove-lifecycle stale

[2020-10-27 18:09] Arvinderpal opened #146 "Sync a set of labels placed on a BMH to the corresponding K Node object"
There are use cases where certain information is inherently tied to the BMH but at the same time, is valuable to the users/operators/schedulers in the K workload cluster. For example:

1. As a user, I would like to place my workloads across hosts that are in different failure zones. For example, I may want replicas of a specific workload spread out across different server racks or geographical loc

[2020-10-27 18:11] Arvinderpal commented on #146
@maelk @dhellmann PTAL.

[2020-10-27 18:33] dhellmann commented on #146
I like the idea of doing this. I'm not sure about using a command line flag to configure it, but we can work through that.

Is there any reason to limit which labels are copied? What would happen if we just take them all?

[2020-10-27 18:54] Arvinderpal commented on #146
The primary concern is that we may be stepping on labels that are managed by some other entity (this was brought up in the CAPI issue linked). Here CAPM3 would own the set of labels that match the prefix.

Also, the ask is for synchronization and not just a one time copy from BMH to Node on creation; that is, if a label (say `my-prefix.metal3.io/rack`) was accidentally removed from the Node, CAPM3

[2020-10-27 19:02] maelk commented on #146
I also think this would be a very valuable feature for CAPM3. Would you mind starting a proposal on this ?

[2020-10-27 19:19] Arvinderpal commented on #146
If we have consensus that this is a good feature to have, then I can definitely write up a proposal.

[2020-10-27 20:31] dhellmann commented on #146
Yes, I think we definitely want this. We've been looking at how to do something similar with the hardware-classification-controller output.

It would be ideal if this was a new controller in capm3, so we could import the code into capbm downstream. If not a controller, then maybe a library function we could invoke separately.

[2020-10-28 13:43] Arvinderpal commented on #146
Great. I'll put together a proposal.

[2020-10-28 15:11] #83 closed

[2020-11-09 15:16] dhellmann commented on #146
@Arvinderpal if that document is ready for review, please move it to a pull request on this repository.

[2020-11-09 16:31] Arvinderpal commented on #146
@dhellmann https://github.com/metal3-io/metal3-docs/pull/149

[2020-11-19 15:08] #82 closed

[2020-11-19 15:08] #115 closed

[2020-11-19 15:08] #112 closed

[2020-11-20 02:08] #126 closed

[2020-12-03 14:10] #129 closed

[2020-12-03 14:27] Arvinderpal commented on #127
/reopen

[2020-12-15 08:10] maelk commented on #92
/remove-lifecycle stale

[2021-01-02 14:53] #127 closed

[2021-01-11 12:41] maelk commented on #113
/remove-lifecycle stale

[2021-01-11 12:41] maelk commented on #111
/remove-lifecycle stale
This is on-going work

[2021-01-11 12:42] maelk commented on #114
/remove-lifecycle stale
This is on-going work

[2021-01-26 10:11] maelk commented on #117
/remove-lifecycle stale

[2021-01-26 15:05] #107 closed

[2021-01-31 14:55] fmuyassarov commented on #117
It seems that Github has made it easy now to rename the existing branch: https://github.com/github/renaming. Based on that document, the list of the things that will be taken care by Github while renaming is:

1. Re-target any open pull requests
2. Update any draft releases based on the branch
3. Move any branch protection rules that explicitly reference the old name
4. Update the branch used to b

[2021-02-11 13:51] #136 closed

[2021-03-09 17:50] #146 closed

[2021-03-30 06:31] maelk commented on #117
This could be tried on a repo that is not much used, such as IPAM ?

[2021-03-30 06:32] maelk commented on #92
/remove-lifecycle stale

[2021-04-14 14:44] danwinship opened #175 "FAQ link in README goes to blog"
README.md has:

[code]

Note that the "Blog posts" and "FAQ" links both go to the blog

[2021-04-21 13:17] namnx228 commented on #175
/kind feature

[2021-05-02 19:39] ZainubW opened #182 "Extending Baremetal Operator to extract RAID Controller and Disk names"
**Introduction:**
In the metal3 baremetal-operator repository, the hardware RAID configuration of a baremetal host is being extended to include the 'physical disks' and 'controller' items. Here is the specification Pull Request:
https://github.com/metal3-io/metal3-docs/pull/148/files

When specifying the disk numbers, the user specifies a simple number like ‘0’, ’1’ etc. However, this needs to be

[2021-05-09 20:10] ZainubW commented on #182
Discussed this issue in meeting. Therefore, closing it.

[2021-05-10 19:52] ZainubW commented on #182
Need Further discussion.

[2021-06-01 15:36] maelk commented on #111
/remove-lifecycle stale
This is still on-going

[2021-06-15 07:25] godfried opened #185 ""How Ironic Works" Github link on openstack.org links to a page that does not exist."
The page linked to in "How Ironic Works" -> "Read on Github" (https://github.com/metal3-io/metal3-docs/blob/master/design/how-ironic-works.md) on https://www.openstack.org/use-cases/bare-metal/  does not exist (404 not found).
<img width="760" alt="Screenshot 2021-06-15 at 09 23 55" src="https://user-images.githubusercontent.com/1863111/122010605-8e01e780-cdbb-11eb-89cc-20001b3ccca6.png">

[2021-06-28 06:53] furkatgofurov7 commented on #117
/remove-lifecycle stale

[2021-06-28 06:54] furkatgofurov7 commented on #92
/remove-lifecycle stale

[2021-06-30 16:05] zaneb commented on #185
We don't control that page. Maybe you could report here: https://storyboard.openstack.org/#!/project/osf/openstackweb

FWIW the page has moved to https://github.com/metal3-io/metal3-docs/blob/master/design/baremetal-operator/how-ironic-works.md

[2021-09-01 02:07] hustlzp1981 commented on #92
I see that we have already got https + auth ready, propose to close this ticket, OK?

[2021-09-04 06:39] maelk commented on #92
The end goal here was to achieve mTLS. We still do not support it. At this point we can either close this and open a new one for mTLS of keep track of the mTLS here (and rename this issue)

[2021-09-07 13:16] zaneb commented on #92
Let's open a new issue for mTLS. If we have TLS + basic auth that counts as at least having authentication, I'd consider mTLS to be an enhancement.

[2021-09-27 06:47] fmuyassarov commented on #117
/remove-lifecycle stale

[2021-10-19 18:54] #175 closed

[2021-10-19 19:54] #182 closed

[2021-11-03 07:55] kashifest opened #209 "Change default branch to "main""
Addresses [this](https://github.com/metal3-io/metal3-docs/issues/117).

This has already been done in CAPM3 and IPAM. Check these repo's for reference.

[2021-11-03 07:55] kashifest commented on #209
## Prerequisites

- [ ] Create an issue in your repo to track the branch rename.
You can paste this checklist in the issue body.

- [ ] If you are not a root approver for the repo, assign a root
approver for approval.

- [ ] Once the issue has been approved, send a notice to your SIG's
mailing list about the potential branch rename.

## Changes pre-rename

Make the following changes _before_ renam

[2021-12-26 13:05] fmuyassarov commented on #117
/lifecycle active

[2022-01-05 13:42] #92 closed

[2022-01-14 06:12] fmuyassarov commented on #127
It was fixed in https://github.com/metal3-io/cluster-api-provider-metal3/pull/357
/close

[2022-01-14 06:14] fmuyassarov opened #214 "User-guide: add Metal3 project introduction section"
Write down below sections for the Introduction section to the Metal3.io user-guide book.
- what is Metal3 project about
- What is it trying to solve
- Why and when would someone use Metal3.io
- What is different between Metal3 and some other server management projects/tools
- Explain briefly the relationship between Metal3 and Cluster API
- Explain briefly the relationship between Metal3 and Ironi

[2022-01-14 06:14] fmuyassarov commented on #214
/kind documentation
/assign @macaptain

[2022-01-14 06:16] fmuyassarov commented on #214
/lifecycle active

[2022-01-14 06:16] fmuyassarov commented on #209
@kashifest this can be closed perhaps ? And please add the reference PR here.

[2022-01-14 06:20] fmuyassarov opened #215 "User-guide: add introduction document for CAPM3"
Write down below sections for the Introduction section to CAPM3 section in the user-guide book.
Describe:
- What is CAPM3
- Why and when should/can it be used
- It is relationship with CAPI

/kind documentation
/help wanted

[2022-01-14 06:20] fmuyassarov commented on #215
/kind documentation
/help wanted

[2022-01-14 06:20] fmuyassarov commented on #215
/help

[2022-01-14 06:23] fmuyassarov opened #216 "User-guide: add document on how to install CAPM3"
Write down subsection of the user-guide to explain how to install the Cluster-api-provider-metal3

/kind documentation
/help

[2022-01-14 06:25] fmuyassarov opened #217 "User-guide: add document to briefly describe Pivoting feature in CAPM3"
Add a document briefly explaining the pivoting feature in CAPM3 and it is requirements.
Describe
- briefly Pivoting feature in CAPM3
- why we need it
- how to use it
- what are the caveats if any

/kind documentation
/help

[2022-01-14 06:27] fmuyassarov opened #218 "User-guide: add doc to briefly describe Automated Cleaning feature in CAPM3"
Add a document briefly explaining the Automated Cleaning feature in CAPM3.
Describe:
- briefly Automated Cleaning feature in CAPM3
- why we need it
- how to use it
- what are the caveats if any

/kind documentation
/help

[2022-01-14 06:29] fmuyassarov opened #219 "User-guide: add doc to briefly describe Remediation feature in CAPM3"
Add a document briefly explaining the Remediation feature in CAPM3.
Describe:
- briefly Remediation feature in CAPM3
- why we need it
- how to use it
- what are the caveats if any

/kind documentation
/help

[2022-01-14 06:30] fmuyassarov opened #220 "User-guide: add doc to briefly describe Node Reuse feature in CAPM3"
Add a document briefly explaining the Node Reuse feature in CAPM3.
Describe:
- briefly Node Reuse feature in CAPM3
- why we need it
- how to use it
- what are the caveats

/kind documentation
/help

[2022-01-14 06:31] fmuyassarov opened #221 "User-guide: add introduction document to Baremetal Operator"
Write down below sections for the Introduction section to BMO section in the user-guide book.
Describe:
- What is BMO
- Why and when should/can it be used
- It is relationship with CAPM3
- it is relationship with Ironic

/kind documentation
/help

[2022-01-14 06:34] fmuyassarov opened #222 "User-guide: add doc to briefly describe automated cleaning feature in BMO"
Add a document briefly explaining the automated cleaning feature in BMO.
Describe:
- briefly automated cleaning in BMO
- why we need it
- how to use it
- what are the caveats if any

/kind documentation
/help

[2022-01-14 06:36] fmuyassarov opened #223 "User-guide: add doc to briefly describe Reboot annotation in BMO"
Add a document briefly explaining the Reboot annotation feature in BMO.
Describe:
- briefly Reboot annotation feature in BMO
- why we need it
- how to use it
- what are the caveats if any

/kind documentation
/help

[2022-01-14 06:45] fmuyassarov opened #224 "User-guide: add doc to briefly describe Live ISO feature in BMO"
Add a document briefly explaining the Live ISO feature in BMO.
Describe:
- briefly Live ISO feature in BMO
- why we need it
- how to use it
- what are the caveats if any

/kind documentation
/help

[2022-01-14 06:49] fmuyassarov opened #225 "User-guide: add doc to briefly describe External Inspection feature in BMO"
Add a document briefly explaining the External Inspection feature in BMO.
Describe:
- briefly External Inspection in BMO
- why we need it
- how to use it
- what are the caveats if any

/kind documentation
/help

[2022-01-14 06:52] fmuyassarov opened #226 "User-guide: add doc to briefly describe Automatic Secure Boot feature in BMO"
Add a document briefly explaining the Automatic Secure Boot feature in BMO.
Describe:
- briefly Automatic Secure Boot feature in BMO
- why we need it
- how to use it
- what are the caveats if any

/kind documentation
/help

[2022-01-14 06:53] fmuyassarov opened #227 "User-guide: add doc to briefly describe Detached Annotation feature in BMO"
Add a document briefly explaining the Detached Annotation feature in BMO.
Describe:
- briefly Detached Annotation feature in BMO
- why we need it
- how to use it
- what are the caveats if any

/kind documentation
/help

[2022-01-14 06:55] fmuyassarov opened #228 "User-guide: add introduction document for IPAM"
Write down below sections for the Introduction section to ip-address-manager section in the user-guide book.
Describe:
- What is IPAM
- Why and when should/can it be used
- It is relationship with CAPM3

/kind documentation
/help

[2022-01-14 06:56] fmuyassarov commented on #228
/help

[2022-01-14 06:56] fmuyassarov opened #229 "User-guide: add installation guide for IPAM"
Describe how to install IPAM in a k8s cluster and how to utilize it.

/kind documentation
/help

[2022-01-14 06:58] fmuyassarov opened #230 "User-guide: Add introduction doc to Ironic in Metal3"
Describe:

- What is ironic
- Why Metal3 uses Ironic
- How Metal3 uses Ironic
- What are the limitations of Ironic in Metal3
/kind documentation
/help

/cc @dtantsur @Rozzii

[2022-01-14 07:01] fmuyassarov opened #231 "User-guide: How to build Ironic images in Metal3"
Describe:
- how to build ironic container images
- how to build other supportive container images (vbmc., sushy-tools) and when we need them

/kind documentation
/help

[2022-01-14 07:03] fmuyassarov opened #232 "User-guide: add doc to describe how to deploy Ironic in Metal3"
Describe:
- how to run ironic within a k8s cluster
- how to run outside of a k8s cluster, i.e., on the host machine

/kind documentation
/help

[2022-01-14 07:03] fmuyassarov commented on #232
/cc @dtantsur @Rozzii

[2022-01-14 07:05] fmuyassarov opened #233 "User-guide: add doc to describe how to tune ironic before deploying"
Describe:
- how to tune Ironic parameters before deploying. Example, how to enable a certain features like fast track before ironic is deployed
- what is the format we pass or manipulate those parameters. As an example, in dev-env we use configMap

/kind documentation
/help

[2022-01-14 07:05] fmuyassarov commented on #233
/cc @dtantsur @Rozzii

[2022-01-14 07:06] fmuyassarov opened #234 "User-guide: add doc to describe Ironic Python Agent in Metal3"
Describe:
- What is IPA
- Why we need it
- How we use it in Metal3
- How to manipulate its workflow

/kind documentation
/help

[2022-01-14 07:07] fmuyassarov commented on #234
/cc @dtantsur @Rozzii
tagging you here folks since you were interested in writing about Ironic. There are some other Ironic related issues that I have tagged you both. Once you pick up, please assign the task to yourself. Thanks.

[2022-01-14 08:08] kashifest commented on #209
This is taken care of. Closing the issue

[2022-01-14 08:08] #209 closed

[2022-01-14 08:50] Rozzii commented on #217
/assign @Rozzii

[2022-01-14 09:51] fmuyassarov commented on #217
/remove-help

[2022-01-18 15:38] elfosardo commented on #231
I can probably help with this :)

[2022-01-19 10:40] furkatgofurov7 commented on #220
/assign

[2022-01-19 12:24] Xenwar commented on #221
/assign @Xenwar

[2022-01-19 14:04] elfosardo commented on #231
/assign @elfosardo

[2022-01-20 08:25] macaptain commented on #219
I spent some time learning about this not so long ago, so I can try and write some documentation on this feature.

/assign

[2022-01-20 14:56] macaptain commented on #215
/assign

[2022-01-20 20:33] fmuyassarov commented on #218
/assign

[2022-01-20 20:34] fmuyassarov commented on #222
/assign

[2022-01-27 11:05] #214 closed

[2022-02-04 14:48] Rozzii commented on #215
/triage accepted

[2022-02-04 14:48] Rozzii commented on #216
/triage accepted

[2022-02-04 14:48] Rozzii commented on #217
/triage accepted

[2022-02-04 14:48] Rozzii commented on #218
/triage accepted

[2022-02-04 14:49] Rozzii commented on #219
/triage accepted

[2022-02-04 14:49] Rozzii commented on #220
/triage accepted

[2022-02-04 14:50] Rozzii commented on #215
/remove-help

[2022-02-04 14:52] Rozzii commented on #221
//remove-help
/triage-accpeted

[2022-02-04 14:53] Rozzii commented on #221
/remove-help
/triage accpeted

[2022-02-04 14:53] Rozzii commented on #221
/triage accepted

[2022-02-04 14:54] Rozzii commented on #222
/remove-help
/triage accepted

[2022-02-04 14:54] Rozzii commented on #223
/triage accepted

[2022-02-04 14:54] Rozzii commented on #224
/triage accepted

[2022-02-04 14:55] Rozzii commented on #225
/triage accepted

[2022-02-04 14:56] Rozzii commented on #226
/triage accepted

[2022-02-04 14:56] Rozzii commented on #227
/triage accepted

[2022-02-04 15:04] Rozzii commented on #230
/triage accepted

[2022-02-04 15:07] Rozzii commented on #231
Thank you @elfosardo !
/triage accepted
/remove-help

[2022-02-04 15:08] Rozzii commented on #232
/triage accepted

[2022-02-04 15:08] Rozzii commented on #233
/triage accepted

[2022-02-04 15:09] Rozzii commented on #234
/triage accept
/assign

[2022-02-04 15:09] Rozzii commented on #234
/triage accepted

[2022-02-10 13:14] elfosardo commented on #230
/assign
I guess I can help with this too :)

[2022-02-10 18:06] fmuyassarov commented on #230
Thank you @elfosardo

[2022-02-14 08:41] macaptain commented on #215
/unassign
/help

[2022-02-14 09:28] Xenwar commented on #234
/assign @Xenwar

[2022-02-15 07:30] macaptain commented on #219
Unfortunately, I won't have time to finish this.

/unassign

Relevant background for this documentation:

* Original proposal: https://github.com/metal3-io/metal3-docs/blob/main/design/cluster-api-provider-metal3/capm3-remediation-controller-proposal.md
* More interesting background details: https://github.com/metal3-io/cluster-api-provider-metal3/issues/392
* Ansible feature test showing the fiel

[2022-02-15 10:42] ren-yifei commented on #228
/assign

[2022-02-16 13:33] Rozzii commented on #220
/remove-help-wanted

[2022-02-16 13:33] Rozzii commented on #220
/remove-help

[2022-02-16 13:34] Rozzii commented on #230
/remove-help

[2022-02-16 13:34] Rozzii commented on #234
/remove-help

[2022-02-16 13:35] Rozzii commented on #228
/remove-help

[2022-02-16 13:35] Rozzii commented on #215
/remove-help

[2022-02-16 14:26] Rozzii commented on #117
/triage accepted

[2022-02-21 07:18] smoshiur1237 commented on #219
/assign

[2022-03-01 17:21] fmuyassarov commented on #216
/assign

[2022-03-16 12:07] Rozzii commented on #219
Thanks @smoshiur1237
/remove-help

[2022-03-16 12:08] Rozzii commented on #216
Thanks @fmuyassarov
/remove-help

[2022-03-16 12:09] Rozzii commented on #232
Thanks @fmuyassarov
/assign @fmuyassarov
/remove-help

[2022-03-23 09:37] #234 closed

[2022-03-23 11:20] #219 closed

[2022-03-23 11:24] #221 closed

[2022-04-06 10:33] #220 closed

[2022-04-07 09:11] #228 closed

[2022-04-07 17:33] djfjeff opened #258 "User-guide: add diagram to describe the baremetal inspection/provision workflow"
Having a diagram to explain the inspection/provision workflow for Metal3 (similar to https://access.redhat.com/documentation/en-us/red_hat_openstack_platform/16.2/html-single/bare_metal_provisioning/index#the-bare-metal-provisioning-service) would greatly help understand how it works.

Also, a diagram will help understand what part to troubleshoot when an issue arise in the workflow.

[2022-04-12 13:10] #218 closed

[2022-04-13 14:22] Rozzii commented on #258
/triage accepted
/assign @fmuyassarov
/kind feature

The community has accepted the proposal for a sequence diagram related to nspection/provision workflow.

[2022-04-13 14:24] fmuyassarov commented on #258
@djfjeff we will just need to agree with the community on the common tool to draw diagrams, which hopefully will be decided by the next week's community meeting. And then I can submit a patch with the state diagram.

[2022-05-30 13:29] lentzi90 commented on #223
/remove-lifecycle stale

[2022-05-31 05:22] lentzi90 commented on #227
/remove-lifecycle stale
/remove-help
/assign @lentzi90

[2022-06-04 15:27] #222 closed

[2022-06-08 09:44] elfosardo commented on #231
/reopen

[2022-06-08 09:44] elfosardo commented on #231
I should be able to work on this in the next week

[2022-06-08 12:43] #227 closed

[2022-06-14 09:25] #223 closed

[2022-06-16 15:28] #117 closed

[2022-06-27 11:41] #230 closed

[2022-06-27 21:26] furkatgofurov7 commented on #233
/reopen
/remove-lifecycle stale

[2022-06-27 21:26] furkatgofurov7 commented on #229
/reopen
/remove-lifecycle stale

[2022-06-27 21:27] furkatgofurov7 commented on #226
/reopen
/remove-lifecycle stale

[2022-06-27 21:28] furkatgofurov7 commented on #225
/reopen
/remove-lifecycle stale

[2022-06-27 21:30] furkatgofurov7 commented on #217
/reopen
/remove-lifecycle stale

[2022-06-27 21:30] furkatgofurov7 commented on #215
/reopen
/remove-lifecycle stale

[2022-06-27 21:35] furkatgofurov7 commented on #175
@danwinship thanks for the issue, the FAQ page link was incorrect and was removed as part of the #260. So, I am not reopening the issue, however, if you find any issues with that please feel free to reopen it.

[2022-06-27 21:36] furkatgofurov7 commented on #231
/remove-lifecycle stale

[2022-06-27 21:37] furkatgofurov7 commented on #232
/remove-lifecycle stale

[2022-07-18 11:35] djfjeff commented on #258
/remove-lifecycle stale

This is something that would still be useful to have.

[2022-07-19 12:34] fmuyassarov commented on #71
Reopening, since this has not been solved yet and still relevant

[2022-07-19 12:44] furkatgofurov7 opened #272 "..."

[2022-07-20 14:31] Rozzii commented on #71
/triage accepted

[2022-07-20 14:49] Rozzii commented on #71
/remove lifecycle-stale

[2022-07-20 14:49] Rozzii commented on #71
/remove-lifecycle stale

[2022-07-21 11:14] fmuyassarov commented on #71
Yesterday during the community meeting we discussed the process of starting Baremetal Operator project releases. We are going to follow the widespread semantic versioning scheme and since we have not yet announced BMO as stable we would like to have more frequent and smaller releases for now and when we reach the stability we would like to stick to the same release cycle as Kubernetes (3 times a y

[2022-07-21 11:45] s3rj1k commented on #71
@fmuyassarov major version 0 can be an issue for go.mod

Are we sure that that kind of release versioning will be compatible for go.mod usage?

[2022-07-21 11:49] fmuyassarov commented on #71
What is the issue? We have been using it in CAPM3 until now.

[2022-07-21 11:56] s3rj1k commented on #71
https://go.dev/doc/modules/version-numbers

Hmm, you are correct as per the link above.

I assume possible issue can be with v0 to v1 (creating a branch or subfolder)

[2022-07-21 12:16] fmuyassarov commented on #71
I don't see an issue in branching as well to be honest. But after your point, I realized that branch naming should not be release-MINOR.PATCH but instead release-MAJOR.MINOR because each MINOR can have 0,1,3..9 PATCH releases, and we don't want to create a branch for every single patch release. I will make correction on my email and thanks for pointing out.

[2022-07-21 12:35] s3rj1k commented on #71
@fmuyassarov I was pointing out that go expects that new Major release shoulb be in separate branch or subfolder and named as Major version value.

So transition for v0 to v1, according to golang spec, we would need to put newer code in new branch named `v1` or into subfolder `v1`.

Not sure that this is actually needed for `v0` to `v1`, pretty much sure that this is needed for `v1` to `v2` transi

[2022-07-28 08:38] #232 closed

[2022-08-01 07:41] smoshiur1237 commented on #229
/assign @smoshiur1237

[2022-08-03 14:10] Rozzii commented on #71
/remove-lifecycle stale

[2022-08-24 10:38] kashifest commented on #215
/assign

[2022-08-24 10:38] kashifest commented on #215
/assign

[2022-08-26 05:53] lentzi90 commented on #225
/assign
/remove-help

[2022-09-02 14:37] mboukhalfa commented on #226
/assign

[2022-09-14 13:40] Rozzii commented on #233
/assign  @Rozzii

[2022-09-14 13:40] Rozzii commented on #233
/remove help

[2022-09-14 13:41] Rozzii commented on #233
/remove help-wanted

[2022-09-21 10:26] furkatgofurov7 commented on #224
/assign

[2022-09-27 09:42] elfosardo commented on #231
/remove-lifecycle stale

[2022-09-29 23:33] nate-double-u opened #286 "Netlify: select a new build image"
Notice from Netlify

As reported via deploy logs:

All Netlify builds using the Xenial build image will begin failing in the week of November 15th, 2022.

https://app.netlify.com/sites/etcd/settings/deploys#build-image-selection

[2022-09-30 07:53] furkatgofurov7 commented on #286
/triage accepted

[2022-09-30 07:55] furkatgofurov7 commented on #286
Hi @nate-double-u thanks a lot for the early notice.

[2022-10-03 08:00] kashifest commented on #286
This has been fixed. Thanks for reporting it @nate-double-u
/close

[2022-10-17 11:14] djfjeff commented on #258
/remove-lifecycle stale

This is something that would still be useful to have. Is there any progress made on this?

[2022-10-18 12:04] #229 closed

[2022-10-19 13:58] Rozzii commented on #217
/remove-lifecycle stale

[2022-11-02 14:33] Rozzii commented on #71
I would close this I think this issue has been resolved but please give your opinion.

[2022-11-02 14:39] Rozzii commented on #233
/assign @Rozzii

[2022-11-03 08:34] #224 closed

[2022-11-03 10:57] #226 closed

[2022-11-04 10:12] lentzi90 commented on #225
Fixed in #279
/close

[2022-11-04 10:12] #225 closed

[2022-11-04 13:12] furkatgofurov7 commented on #217
This is fixed in https://github.com/metal3-io/metal3-docs/pull/254

/close

[2022-11-04 13:12] #217 closed

[2022-11-04 13:14] furkatgofurov7 commented on #215
This is fixed in https://github.com/metal3-io/metal3-docs/pull/280

/close

[2022-11-04 13:14] #215 closed

[2022-11-04 13:17] furkatgofurov7 commented on #71
+1

[2022-11-04 13:38] #231 closed

[2022-11-16 14:34] Rozzii commented on #71
We have started releasing BMO and we have a release guideline in review https://github.com/metal3-io/baremetal-operator/pull/1170.
/close

[2022-11-16 14:34] #71 closed

[2022-11-29 09:24] lentzi90 opened #298 "User-guide: Update/fix Ironic installation guide"
The instructions on the [Install Ironic](https://metal3io.netlify.app/ironic/ironic_installation.html) page does not work at least for the in-cluster installation. We have recently made changes to the kustomization, which also affects this, but even when checking out an older commit/release the commands are not working.

[code]

[2022-11-30 14:18] Rozzii commented on #298
/triage-accpeted

[2022-11-30 14:19] Rozzii commented on #298
/triage accepted

[2022-11-30 14:28] Rozzii commented on #233
/remove help